<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/galleryLayout">

<section layout:fragment="gallery-content">
    <div >
        <h1>우리집 댕댕이를 자랑해보자!</h1>
    </div>
    <div class="gallery-out"  >
        <div class="img" >
            <img src="/image/dangdang.png" style=" width: 100%; height: auto; ">
            <div class="title">Thumbnail label</div>
            <div class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="img" >
            <img src="/image/dangdang.png" style=" width: 100%; height: auto; ">
            <div class="title">Thumbnail label</div>
            <div class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="img" >
            <img src="/image/dangdang.png" style=" width: 100%; height: auto; ">
            <div class="title">Thumbnail label</div>
            <div class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="img" >
            <img src="/image/dangdang.png" style=" width: 100%; height: auto; ">
            <div class="title">Thumbnail label</div>
            <div class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="img" >
            <img src="/image/dangdang.png" style=" width: 100%; height: auto; ">
            <div class="title">Thumbnail label</div>
            <div class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="img" >
            <img src="/image/dangdang.png" style=" width: 100%; height: auto; ">
            <div class="title">Thumbnail label</div>
            <div class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="img" >
            <img src="/image/dangdang.png" style=" width: 100%; height: auto; ">
            <div class="title">Thumbnail label</div>
            <div class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="img" >
            <img src="/image/dangdang.png" style=" width: 100%; height: auto; ">
            <div class="title">Thumbnail label</div>
            <div class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="img" >
            <img src="/image/dangdang.png" style=" width: 100%; height: auto; ">
            <div class="title">Thumbnail label</div>
            <div class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="img" >
            <img src="/image/dangdang.png" style=" width: 100%; height: auto; ">
            <div class="title">Thumbnail label</div>
            <div class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
    </div>
</section>
</html>