<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="right-menu">
    <div class="right-col">
        <div class="profile-card">
            <div class="profile-pic">
                <img src="image/bany.jpg" alt="">
            </div>
            <div>
                <p class="username">yunjisla</p>
                <p class="sub-text">아가주인</p> <br>
            </div>
        </div>
        <p class="notification">알림</p>
        <div class="profile-card">
            <div class="profile-pic">
                <img src="image/bany.jpg" alt="">
            </div>
            <div>
                <p>아가님이 ❤를 눌렀다 멍🐶</p>
            </div>
        </div>

    </div>
</th:block>

</html>